<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        tinymce.init({
          selector: '#mytextarea'
        });
      </script>
<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  
    <div class="container-scroller  bg-primary">
        <div class="container-fluid page-body-wrapper  bg-primary">
            <%- include('siderbar'); %>
            <div class="main-panel  bg-primary">
                <div class="content-wrapper  bg-primary">
                    <form method="post" enctype="multipart/form-data" >
                      <div class="form-group col-md-4">
                        <label for="" >Tác giả </label>
                        <input type="text" value="<%= post.username %>" class="form-control" name="username"  id="name" readonly>
                        <br>
                        <% if (locals.usernameErr) { %>
                          <span  style="color: red;"><%= usernameErr %></span>
                         <% }
                         %>
                      </div>

                        <div class="form-group col-md-6">
                            <label for=""> Tên bài viết </label>
                            <input  type="text" value="<%=post.tittle%>" class="form-control" name="tittle" id="name">
                            <br>
                            <% if (locals.tittleErr) { %>
                              <span class="mt-1" style="color: red;"><%= tittleErr %></span>
                             <% }
                             %>
                          </div>
                          <div class="form-group col-md-6">
                            <label for=""> Tiêu đề </label>
                            <input type="text" value="<%=post.subtittle%>" class="form-control" name="subtittle" id="name">
                          </div>
                          <div class="form-group col-md-2">
                            <label for="" >Hình ảnh </label>
                            <input
                              value="<%= post.img %>"
                              type="file"
                              name="image"
                              class="form-control-file "
                            />
                          </div>
                          <div class="form-group col-md-12">
                            <label for="">Nội dung </label>
                            <textarea name='content'id="mytextarea"> <%= post.Content %></textarea>
                            <% if (locals.contentErr) { %>
                              <span class="mt-1" style="color: red;"><%= contentErr %></span>
                             <% }
                             %>
                          </div>
                          <div class="form-group col-md-6">
                            <button  type="submit" class="btn btn-dark">Cập nhật</button>
                     
                          </div>
                    
                      </form>
                      </div>           
    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                      <div class="container-fluid clearfix">
                      
                    </footer>
                    <!-- partial -->
                  </div>
        </div>
    </div>
</body>
</html>